@import url('https://fonts.googleapis.com/css?family=Monserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kanit:wght@300&display=swap');

.allFont {
    font-family: Montserrat;
}

.componentFont{
    font-family: Kanit;
    font-weight: 300;
}